---
layout: archive
title: "Teaching"
permalink: /teaching.html
author_profile: true
---

<header><h2>2024</h2></header>
<b>Senior Demonstrator:</b> Senior Demonstrator for Data Science and AI master's cohort
<br>
<b>Demonstrator:</b> Demonstrator for ECS7024P - Statistics for Artificial Intelligence and Data Science
<br>
<b>Teaching Fellow:</b> Supervising 4 undergraduate students on their projects
<br>
<b>Mentor:</b> Google DeepMind Research Ready Programme - PhD Mentor for two students on a research project

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

<!-- {% include base_path %} -->

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
